In [1]:
userdf = spark.read.json("s3://bigdata-desafio/yelp-data/user.json")

Starting Spark application

SparkSession available as 'spark'.

In [2]:
userdf.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, FloatType, IntegerType, DoubleType, LongType

In [4]:
schema = StructType([
    StructField('average_stars', DoubleType(), True),
    StructField('compliment_cool', LongType(), True),
    StructField('compliment_cute', LongType(), nullable= True),
    StructField('compliment_funny', LongType(), nullable= True),
    StructField('compliment_hot', LongType(), nullable= True),
    StructField('compliment_list', LongType(), nullable= True),
    StructField('compliment_more', LongType(), nullable= True),
    StructField('compliment_note', LongType(), nullable= True),
    StructField('compliment_photos', LongType(), nullable= True),
    StructField('compliment_plain', LongType(), nullable= True),
    StructField('compliment_profile', LongType(), nullable= True),
    StructField('compliment_writer', LongType(), nullable= True),
    StructField('cool', LongType(), nullable= True),
    StructField('elite', StringType(), nullable= True),
    StructField('fans', LongType(), nullable= True),
    StructField('friends', StringType(), nullable= True),
    StructField('funny',LongType(), nullable= True),
    StructField('name', StringType(), nullable= True),
    StructField('review_count', LongType(), nullable= True),
    StructField('useful', LongType(), nullable= True),
    StructField('user_id', StringType(), nullable= True),
    StructField('yelping_since', StringType(), nullable= True),
    StructField('molesto', IntegerType(), nullable= True),
    StructField('friend_count', LongType(), nullable= True),
    StructField('elite_count', LongType(), nullable= True)
])

In [5]:
userdf = spark.read.json("s3://bigdata-desafio/yelp-data/user.json", schema=schema)

In [6]:
userdf.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- molesto: integer (nullable = true)
 |-- friend_count: long (nullable = true)
 |-- elite_count: long (nullable = true)

In [7]:
userdf.show(5)

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-------------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+-------+------------+-----------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|cool|              elite|fans|             friends|funny|  name|review_count|useful|             user_id|      yelping_since|molesto|friend_count|elite_count|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-------------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+-------+------------+-----------+
|         4.03|              1|              0|               1|             2|              0|              0|              1|                0|               1|                 0|                2|  25|     2015,2016,2017|   5|c78V-rj8NQcQjOI8K...|   17|Rashmi|          95|    84|l6BmjZMeQD3rDxWUb...|2013-10-08 23:11:33|   null|        null|       null|
|         3.63|              1|              0|               1|             1|              0|              0|              0|                0|               0|                 0|                0|  16|                   |   4|kEBTgDvFX754S68Fl...|   22| Jenna|          33|    48|4XChL029mKr5hydo7...|2013-02-21 22:29:06|   null|        null|       null|
|         3.71|              0|              0|               0|             0|              0|              0|              1|                0|               0|                 0|                0|  10|                   |   0|4N-HU_T32hLENLnts...|    8| David|          16|    28|bc8C_eETBWL0olvFS...|2013-10-04 00:16:10|   null|        null|       null|
|         4.85|              0|              0|               0|             1|              0|              0|              0|                0|               2|                 0|                1|  14|                   |   5|RZ6wS38wnlXyj-OOd...|    4|Angela|          17|    30|dD0gZpBctWGdWo9Wl...|2014-05-22 15:57:30|   null|        null|       null|
|         4.08|             80|              0|              80|            28|              1|              1|             16|                5|              57|                 0|               25| 665|2015,2016,2017,2018|  39|mbwrZ-RS76V1HoJ0b...|  279| Nancy|         361|  1114|MM4RJAeH6yuaN8oZD...|2013-10-23 07:02:50|   null|        null|       null|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-------------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+-------+------------+-----------+
only showing top 5 rows

In [8]:
userdf.take(1)

[Row(average_stars=4.03, compliment_cool=1, compliment_cute=0, compliment_funny=1, compliment_hot=2, compliment_list=0, compliment_more=0, compliment_note=1, compliment_photos=0, compliment_plain=1, compliment_profile=0, compliment_writer=2, cool=25, elite=u'2015,2016,2017', fans=5, friends=u'c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g, ajcnq75Z5xxkvUSmmJ1bCg, BSMAmp2-wMzCkhTfq9ToNg, jka10dk9ygX76hJG0gfPZQ, dut0e4xvme7QSlesOycHQA, l4l5lBnK356zBua7B-UJ6Q, 0HicMOOs-M_gl2eO-zES4Q, _uI57wL2fLyftrcSFpfSGQ, T4_Qd0YWbC3co6WSMw4vxg, iBRoLWPtWmsI1kdbE9ORSA, xjrUcid6Ymq0DoTJELkYyw, GqadWVzJ6At-vgLzK_SKgA, DvB13VJBmSnbFXBVBsKmDA, vRP9nQkYTeNioDjtxZlVhg, gT0A1iN3eeQ8EMAjJhwQtw, 6yCWjFPtp_AD4x93WAwmnw, 1dKzpNnib-JlViKv8_Gt5g, 3Bv4_JxHXq-gVLOxYMQX0Q, ikQyfu1iViYh8T0us7wiFQ, f1GGltNaB7K5DR1jf3dOmg, tgeFUChlh7v8bZFVl2-hjQ, -9-9oyXlqsMG2he5xIWdLQ, Adj9fBPVJad8vSs-mIP7gw, Ce49RY8CKXVsTifxRYFTsw, M1_7TLi8CbdA89nFLlH4iw, wFsNv-hqbW_F5-IRqfBN6g, 0Q1L7zXHocaUZ2gsG2XJeg, cBFgmOCBdhYa0xoFEAzp_g, VrD_AgiFvzqtlR15vir3SQ, cpE-7HK514Sr5vpSen9CEQ, F1UYelhPFB-zIKlt0ygIZg, CQAL1hvsLMCzuJf9AglsXw, 1KnY1wr15WfEWIRLB9IS6g, QWFQ-kXBiLbid-lm5Jr3dQ, nymT8liFugCrM16lTy0ZfQ, qj69bdd885heDvUPCyHd2Q, DySCZZcgbdrlHgEovk5y9w, lZMJIDuvhT9Dy4KyquLXyA, b_9Gn7wS93AoPZPR0dIJqQ, N07g1IaLh0_6sUjtiSRe4w, YdfPX_7DxSnKvvdCJ57iOw, 8GYryZPD22W7WgQ8kvMkEQ, cpQmAgOWatghp14h1pn1dQ, EnchhymLYMqftCRjqvVWmw, -JdfKhFktE7Zs9BMDFcPeQ, uWhC9eof98zPkvsalgaqJw, eyTlNDDaiPatfe6mheIZ0g, VfHq0o73aKsODvfAhwAQtg, kvD5tICngLAaQDujSFWupA, dXacwEhqi9-3_XT6JeH0Og, NfU0zDaTMEQ4-X9dbQWd9A, cTHWBdjSKbctSUIvWsgFxw, 3IEtCbSDF5t7RkZ20T6s9A, HJJXTrp6UybYyPdQ9DA0JA, JaXogQFVjzGRAeBvzamBHg, NUonfKkjS1iVqnNITtgXZg, D5vaJAYp0sOrGfsj9qvsMA, H27Ecbwwu4FGAlLgICourw, S8HrLmMiE4u8FWYWkNEoTw, Io36Y3xWQcIX9rYvPcYfXQ, J5mcqh8KxYpqjaLBNlwcig, -nTB3_08g06fD0GT8AtDBQ, wMpFA46lihK8oFns_5p65A, RZGFJHeomGJCWp3xcL3ejA, ZoQSzzXoSP1RxOD4Amv9Bg, qzM0EB0SkuuGIFv0adjQAQ, HuM6vvuveken-fPZ7d4olA, H3oukHpGpn9n_mJwSDSQyQ, PkmsJsQ8FIZe8eh8c_u96g, wSByVbwME4MzgkJaFyfvNg, YEVqknoDmrHAoUbHX0nPnA, li3vsK1XAPmeJYAUTYflHQ, MKc8yXi0glbPYt0Qb4PECw, fQPH6W9fksi27gkuUPnFaA, amrCMrDsoRetYFg2kwwdFA, 84dVQ6n6r2ezNaTuc7RkKA, yW9QjWY0olv5-uRKv3t_Kw, 5XJDj7c3eoidfQ3jW18Zgw, txSc6a6pIDctvwyBeu7Aqg, HFbbDCyyqP9xPkUlcxeIdg, hTUv5oh2do6Z3OppPuuiJA, gSqonG9J4fNM-fl_fE71AA, pd9mgTFpBTg5F9x-MsczNg, j3VE22V2GcHiH8UZxfFLfw, NYXlMW-T-3V4Jqr4r-i0Wg, btxgAZedxX8IWhMifA7Xkg, -Hp5mPLiRJNFnyeX5Ygzag, P6-DwVg6-t2JuQwIUEk0iQ, OI2TvxYvZrAodBG_RF53Xw, bHxf_VPKmZur1Bier-6A2A, Et_Sb39cVm81_Xe9HDM8ZQ, 5HwGl2UyYbaRq8aD6YC-fA, ZK228WMcCKLo5thcjD7rdw, iTf8wojwfm0NOi7dOiz3Nw, btYRxQYNJjpecflNHtFH0A, Kgo42FzpW_dXFgDKoewbtg, MNk_1Q_dqOY3xxHZKeO8VQ, AlwD504T9k0m5lkg3k5g6Q', funny=17, name=u'Rashmi', review_count=95, useful=84, user_id=u'l6BmjZMeQD3rDxWUbiAiow', yelping_since=u'2013-10-08 23:11:33', molesto=None, friend_count=None, elite_count=None)]

In [9]:
userdf.registerTempTable('userdf')
query = "select * from userdf where average_stars <= 2 or review_count < 100 or fans=0"
spark.sql(query).show()

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+-------+------------+-----------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|cool|               elite|fans|             friends|funny|     name|review_count|useful|             user_id|      yelping_since|molesto|friend_count|elite_count|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+-------+------------+-----------+
|         4.03|              1|              0|               1|             2|              0|              0|              1|                0|               1|                 0|                2|  25|      2015,2016,2017|   5|c78V-rj8NQcQjOI8K...|   17|   Rashmi|          95|    84|l6BmjZMeQD3rDxWUb...|2013-10-08 23:11:33|   null|        null|       null|
|         3.63|              1|              0|               1|             1|              0|              0|              0|                0|               0|                 0|                0|  16|                    |   4|kEBTgDvFX754S68Fl...|   22|    Jenna|          33|    48|4XChL029mKr5hydo7...|2013-02-21 22:29:06|   null|        null|       null|
|         3.71|              0|              0|               0|             0|              0|              0|              1|                0|               0|                 0|                0|  10|                    |   0|4N-HU_T32hLENLnts...|    8|    David|          16|    28|bc8C_eETBWL0olvFS...|2013-10-04 00:16:10|   null|        null|       null|
|         4.85|              0|              0|               0|             1|              0|              0|              0|                0|               2|                 0|                1|  14|                    |   5|RZ6wS38wnlXyj-OOd...|    4|   Angela|          17|    30|dD0gZpBctWGdWo9Wl...|2014-05-22 15:57:30|   null|        null|       null|
|         4.33|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   1|                    |   0|d1z7Xc9RG5TVBkdUP...|    0|    Andre|           6|     1|KGuqerdeNhxzXZEyB...|2014-06-07 01:50:09|   null|        null|       null|
|          3.6|              5|              0|               5|             1|              0|              0|              4|                3|              11|                 0|                4|  34|           2017,2018|   9|CfGCj80EdA-xS-mTW...|   26|    Peter|          47|    57|gvXtMj3XuPr0xHjgm...|2014-01-05 20:45:54|   null|        null|       null|
|         3.48|              1|              0|               1|             0|              0|              1|              2|                0|               2|                 0|                0|  22|                    |   3|tYyOnNs7tBfqAT9IC...|   16|     Edie|          77|    71|_DaFdmq0gtXf1spn1...|2009-10-26 01:00:40|   null|        null|       null|
|          3.5|              0|              0|               0|             0|              0|              0|              0|                0|               1|                 0|                1|   3|                    |   2|Dg8_xYNvjVC6KGNRc...|    4|Gabriella|          11|    12|FTWKZZeLb_0ZJRXQg...|2012-11-13 00:23:51|   null|        null|       null|
|         3.95|              4|              0|               4|             0|              0|              1|              2|                1|               1|                 0|                1|  12|                    |   0|_5p_nO7OczVP7czj_...|   17|    Emily|          22|    31|US0VOSMFs9U0Nkl5V...|2010-01-23 04:55:04|   null|        null|       null|
|          4.5|              0|              0|               0|             3|              0|              0|              0|                1|               1|                 0|                0|   5|                    |   1|xVv_pVxAcOfY_xBjB...|    6|  Richard|           9|    11|iPJAN6rJHv92WE2h9...|2013-09-30 23:58:16|   null|        null|       null|
|          4.1|              1|              0|               1|             2|              0|              1|              2|                1|               1|                 0|                2|  34|                    |   4|9ljCrn-qgfAMRS5wL...|   22|    Cyndi|          57|    72|CXi7I5J-ItLGJNyKP...|2011-06-27 05:24:10|   null|        null|       null|
|          3.1|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   2|                    |   0|a4kpoV3nrxRPUHR6z...|    3|    Jamey|          44|    16|hQ98T_hy1CoSWw55z...|2015-11-02 23:41:13|   null|        null|       null|
|         3.57|             13|              2|              13|            14|              0|              4|              1|                2|              10|                 1|               12|  33|                    |   7|Tk2DscrRA0sXPXKb0...|   39|    Erica|          48|   108|t8Whyn2ZWS34TxHsr...|2007-10-05 16:05:28|   null|        null|       null|
|         4.44|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   3|                    |   0|V1KtmSHupcPCjDsDD...|    0|Christene|           9|     5|nRagjGVuSALgQ4KfG...|2013-05-14 20:57:57|   null|        null|       null|
|          2.0|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   3|                    |   1|FDuoN8cpcI8y2DBIU...|    1|    Amber|           4|    10|a643pisN3QSjofk1J...|2014-08-23 03:49:18|   null|        null|       null|
|         2.64|              0|              0|               0|             0|              0|              0|              0|                0|               1|                 0|                0|   3|                    |   1|5fvybUMH9N9Gx1zKw...|    4|        A|          19|    33|z5y4ejvC8uaUg5fGE...|2013-05-28 17:49:42|   null|        null|       null|
|          4.2|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|                    |   0|yU3dWsL_PrIeYDdJ3...|    0|  Jamison|           4|     2|3gniF5P3L_WcoR8zx...|2017-03-13 19:50:46|   null|        null|       null|
|          5.0|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|                    |   0|JwAv-ZqMamWNxfmPz...|    0|  Christy|           1|     0|PktqNN4YpEzkxsuLw...|2015-12-29 20:26:10|   null|        null|       null|
|         4.95|              0|              0|               0|             2|              0|              0|              1|                0|               4|                 0|                0|  50|                    |   3|Ybc8ytcSZrNZ1x3Wi...|    6|    Jenna|          17|    64|tj_j9-8YwYZ7ohOsQ...|2012-07-28 01:19:04|   null|        null|       null|
|         3.24|             22|              0|              22|            20|              0|              6|             17|                1|               9|                 2|               12| 101|2010,2011,2012,20...|   4|u6wFKvEPzWIwc1Rbr...|   78|  Lindsay|          87|   240|NmC_ZemjAQ6Tvzgea...|2008-04-12 14:29:44|   null|        null|       null|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+-------+------------+-----------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import when
userdf = userdf\
    .withColumn('molesto', when((userdf['average_stars'] <= 2) & (userdf['review_count'] < 100) & (userdf['fans'] == 0), 1)\
    .otherwise(0))

In [11]:
userdf.select('molesto').show()

+-------+
|molesto|
+-------+
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
|      0|
+-------+
only showing top 20 rows

In [12]:
userdf = userdf\
    .withColumn('friend_count', userdf['friends'])

In [13]:
import pyspark.sql.functions as f
userdf = userdf.withColumn('friend_count', f.size(f.split(f.col('friends'), ',')))

In [14]:
userdf.select('friend_count').show()

+------------+
|friend_count|
+------------+
|          99|
|        1152|
|          15|
|         525|
|         231|
|        5450|
|        4326|
|        1193|
|         382|
|         898|
|         194|
|          83|
|         582|
|          25|
|         248|
|         367|
|         286|
|         258|
|        3451|
|          46|
+------------+
only showing top 20 rows

In [15]:
userdf = userdf.withColumn('elite_count', f.size(f.split(f.col('elite'), ',')))

In [16]:
userdf.select('elite_count').show()

+-----------+
|elite_count|
+-----------+
|          3|
|          1|
|          1|
|          1|
|          4|
|          4|
|          8|
|          1|
|          7|
|          1|
|          2|
|          1|
|          1|
|          1|
|          1|
|          1|
|          6|
|          1|
|          5|
|          1|
+-----------+
only showing top 20 rows

In [17]:
userdf.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- molesto: integer (nullable = false)
 |-- friend_count: integer (nullable = false)
 |-- elite_count: integer (nullable = false)

In [18]:
columns_to_drop = ['friends', 'elite', 'yelping_since', 'user_id', 'name']
userdf = userdf.drop(*columns_to_drop)

In [19]:
userdf.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- fans: long (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- molesto: integer (nullable = false)
 |-- friend_count: integer (nullable = false)
 |-- elite_count: integer (nullable = false)

In [20]:
userdf = userdf.withColumnRenamed('molesto','label')
userdf.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- fans: long (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- label: integer (nullable = false)
 |-- friend_count: integer (nullable = false)
 |-- elite_count: integer (nullable = false)

In [21]:
feats = userdf.columns
feats.remove('label')

In [22]:
from pyspark.ml.feature import VectorAssembler
assemble_feats = VectorAssembler(inputCols = feats, outputCol = 'assembled_features')
assemble_feats = assemble_feats.transform(userdf)
assemble_feats = assemble_feats.select(['label', 'assembled_features'])

In [23]:
train, test = assemble_feats.randomSplit([0.7, 0.3])

In [24]:
from pyspark.ml.classification import LogisticRegression, GBTClassifier, DecisionTreeClassifier

In [25]:
logistic_example = LogisticRegression(featuresCol='assembled_features', labelCol='label', predictionCol='molesto_pred')

In [26]:
logistic_example = logistic_example.fit(train)

In [27]:
logistic_example.transform(test).show(10)

+-----+--------------------+--------------------+--------------------+------------+
|label|  assembled_features|       rawPrediction|         probability|molesto_pred|
+-----+--------------------+--------------------+--------------------+------------+
|    0|(19,[0,1,2,3,12,1...|[900.615050614721...|           [1.0,0.0]|         0.0|
|    0|(19,[0,1,3,4,7,8,...|[441.620979771815...|[1.0,1.6085901032...|         0.0|
|    0|(19,[0,1,3,4,9,12...|[1489.34904623214...|           [1.0,0.0]|         0.0|
|    0|(19,[0,1,3,4,9,13...|[994.004319962907...|           [1.0,0.0]|         0.0|
|    0|(19,[0,1,3,4,12,1...|[526.262842278610...|[1.0,2.7986691959...|         0.0|
|    0|(19,[0,1,3,4,12,1...|[1321.76246466020...|           [1.0,0.0]|         0.0|
|    0|(19,[0,1,3,4,12,1...|[1155.75346377800...|           [1.0,0.0]|         0.0|
|    0|(19,[0,1,3,4,12,1...|[707.922231822793...|[1.0,3.5750416247...|         0.0|
|    0|(19,[0,1,3,4,12,1...|[1472.04978935280...|           [1.0,0.0]|         0.0|
|    0|(19,[0,1,3,4,12,1...|[984.180051245889...|           [1.0,0.0]|         0.0|
+-----+--------------------+--------------------+--------------------+------------+
only showing top 10 rows

In [28]:
logistic_example.evaluate(test).areaUnderROC

0.9999881994904993

In [29]:
GBT = GBTClassifier(featuresCol='assembled_features', labelCol='label', predictionCol='molesto_pred')
GBTf = GBT.fit(train)
GBTt = GBTf.transform(test)

In [30]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(GBTt, {evaluator.metricName : "areaUnderROC"})

0.9999889180704971

In [31]:
DTreeC = DecisionTreeClassifier(featuresCol='assembled_features', labelCol='label', predictionCol='molesto_pred')
DTreeC = DTreeC.fit(train)
DTreeC = DTreeC.transform(test)

In [32]:
evaluator.evaluate(DTreeC, {evaluator.metricName : "areaUnderROC"})

0.9996699558120336

In [34]:
import pandas as pd

In [35]:
feat_importance = pd.DataFrame({'col':feats, 'importance': GBTf.featureImportances.toArray()})
feat_importance.sort_values(by='importance', ascending=False)

                   col    importance
0        average_stars  9.105161e-01
13                fans  5.420625e-02
15        review_count  3.511901e-02
9     compliment_plain  6.186552e-05
14               funny  2.408999e-05
6      compliment_more  1.677591e-05
11   compliment_writer  1.553294e-05
16              useful  1.215271e-05
12                cool  1.186607e-05
17        friend_count  9.370069e-06
1      compliment_cool  5.904350e-06
7      compliment_note  1.046820e-06
5      compliment_list  5.685062e-13
18         elite_count  1.903807e-13
4       compliment_hot  2.963237e-14
2      compliment_cute  5.014893e-17
8    compliment_photos  8.107676e-18
10  compliment_profile  0.000000e+00
3     compliment_funny  0.000000e+00

Por ende los atributos de mayor importancia son Average_stars, fans y review_count

# Ejercicio 2: Identificando la probabilidad de cierre de un servicio (14 puntos)

In [74]:
df = spark.read.json("s3://bigdata-desafio/yelp-data/business.json")

In [109]:
df.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [151]:
Objetivo = df.select('is_open')

In [110]:
df_proc = df.select('review_count',
          'stars',
           df.attributes.getField('AcceptsInsurance'),
           df.attributes.getField('AgesAllowed'),
           df.attributes.getField('Alcohol'),
           df.attributes.getField('BusinessAcceptsBitcoin'),
           df.attributes.getField('GoodForMeal'),
           df.attributes.getField('BusinessAcceptsCreditCards'),
           df.attributes.getField('GoodForDancing'),
          df.attributes.getField('Smoking'),
          df.attributes.getField('WiFi'),
          df.attributes.getField('HasTV'),
          df.attributes.getField('DogsAllowed'),
          df.attributes.getField('GoodForKids'),
          df.attributes.getField('RestaurantsPriceRange2'),
          df.attributes.getField('NoiseLevel'),
          df.attributes.getField('HappyHour'),
         )

In [118]:
from pyspark.sql import Row

In [172]:
from pyspark.sql.functions import col
def replace_none_with_0(r):
    return Row(**{k: 0 if v == None else v for k, v in r.asDict().iteritems()})
def replace_false_with_0(r):
    return Row(**{k: 0 if v == 'False' else v for k, v in r.asDict().iteritems()})
def replace_null_with_0(r):
    return Row(**{k: 0 if v == 'null' else v for k, v in r.asDict().iteritems()})

In [124]:
df_proc_2 = df_proc.rdd.map(lambda x: replace_none_with_0(x)).toDF()
df_proc = df_proc.rdd.map(lambda x: replace_false_with_0(x)).toDF()

In [144]:
df_proc = df_proc_2.withColumnRenamed("attributes.AcceptsInsurance", "accepts_insurance")
df_proc = df_proc.withColumnRenamed("attributes.AgesAllowed", "all_ages_allowed")
df_proc = df_proc.withColumnRenamed("attributes.Alcohol", "alcohol_consumption")
df_proc = df_proc.withColumnRenamed("attributes.BusinessAcceptsBitcoin", "bitcoin_friendly")
df_proc = df_proc.withColumnRenamed("attributes.GoodForMeal", "food_related")
df_proc = df_proc.withColumnRenamed("attributes.BusinessAcceptsCreditCards", "finance_related")
df_proc = df_proc.withColumnRenamed("attributes.GoodForDancing", "health_related")
df_proc = df_proc.withColumnRenamed("attributes.Smoking", "smoking")
df_proc = df_proc.withColumnRenamed("attributes.WiFi", "free_wifi")
df_proc = df_proc.withColumnRenamed("attributes.HasTV", "has_tv")
df_proc = df_proc.withColumnRenamed("attributes.DogsAllowed", "dog_friendly")
df_proc = df_proc.withColumnRenamed("attributes.GoodForKids", "kid_friendly")
df_proc = df_proc.withColumnRenamed("attributes.RestaurantsPriceRange2", "expensive_restaurant")
df_proc = df_proc.withColumnRenamed("attributes.NoiseLevel", "loud_place")
df_proc = df_proc.withColumnRenamed("attributes.HappyHour", "happy_hour")

In [149]:
from pyspark.sql.functions import monotonically_increasing_id 
df_proc = df_proc.select("*").withColumn("label", monotonically_increasing_id()+1)
df_proc=df_proc.na.drop()

In [150]:
df_proc.take(1)

[Row(accepts_insurance=0, all_ages_allowed=0, alcohol_consumption=0, bitcoin_friendly=0, finance_related=0, dog_friendly=0, health_related=0, kid_friendly=u'False', food_related=0, happy_hour=0, has_tv=0, loud_place=0, expensive_restaurant=0, smoking=0, free_wifi=0, review_count=5, stars=3.0, label=1)]